.bg-color-orange{background-color: orangered;}
.bg-color-red{background-color: red;}
.bg-color-green{background-color: green;}
.bg-color-white{background-color: white;}

.white{color: white;}

.no-decoration{text-decoration: none;}

.width-100{width:100%;}
.width-10{width: 10%;}
.width-5{width: 5%;}
.width-80{width: 80%;}
.width-30{width: 30%;}
.width-15{width: 15%;}

.height-100{height: 100%;}
.height-50{height: 50%;}

.centered{margin: auto;}

.padding-top-70{padding-top: 70px;}

.margin-top-20{margin-top:20px;}

header{
    height: 50px;
    position:fixed;
    z-index:10;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*{
    margin: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    align-items: center;
}

.link{
    display: flex;
    justify-content: space-around;
}

.toolbar-user{
    justify-content: space-evenly;
    display: flex;
}

main{
    display: flex;
    margin:auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container{
    position: relative;
    min-height: fit-content;
}

.main-img{
    position:absolute;
    top:0px;
    left:0px;
}

.container:hover .main-img{
    z-index: -1;
}

.marca{
    font-weight: 300;
    font-family: 'Neuton', serif;
}

.modello{
    font-family: 'Neuton', serif;
    font-weight: 700;
}

.prezzo-scontato{
    color: red;
    font-family: 'Neuton', serif;
    font-weight: 700;
    font-size: 10pt;
}

.prezzo{
    text-decoration: line-through;
    font-family: 'Neuton', serif;
    font-size:10pt;
}

.info{
    z-index:2;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 80%;
    left:0;
    min-width: fit-content;
}

.sostenibilita:after{
    content: "Sostenibilità";
    font-family: 'Neuton', serif;
    font-weight: 700;
    font-size: 10pt;
    padding: 2px 5px;
}

.sconto{
    font-family: 'Neuton', serif;
    font-weight: 700;
    font-size:10pt;
    padding: 2px 5px;
    margin-right:2px;
}

.cuore{
    z-index:2;
    position: absolute;
    top: 5%;
    left: calc(100% - 26px);
    padding: 5px;
}
